@model MVC.Models.MPModel

@{
    ViewBag.Title = "MP";
}
<div class="mdl-tabs mdl-js-tabs">
    <div class="mdl-tabs__tab-bar">
       @* <a href="#tree-panel" class="mdl-tabs__tab is-active">Stablo</a>*@
        <a href="#add-report-panel" class="mdl-tabs__tab is-active">Postavi izvestaj</a>
        <a href="#report-panel" class="mdl-tabs__tab">Izvestaji</a>
        <a href="#add-padavan-panel" class="mdl-tabs__tab">Dodaj Padavana</a>
    </div>
    @*<div class="mdl-tabs__panel is-active" id="tree-panel">
    <div id="familytree-wrapper">

        <div class="familytree">
           <ul>
                <li>
                    <a href="#">Parent</a>
                    <ul>
                        <li>
                            <a href="#">Child</a>
                            <ul>
                                <li>
                                    <a href="#">Grand Child</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Child</a>
                            <ul>
                                <li>
                                    <a href="#">Grand Child</a>
                                </li>
                                <li>
                                    <a href="#">Grand Child</a>
                                    <ul>
                                        <li>
                                            <a href="#">Great Grand Child</a>
                                        </li>
                                        <li>
                                            <a href="#">Great Grand Child</a>
                                        </li>
                                        <li>
                                            <a href="#">Great Grand Child</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Grand Child</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
                <ul>
                    <li>
                        
                        <a href="#">BEST</a>
                        <ul>
                            <li>
                                <a href="#">Milos</a>
                                <ul>
                                    <li>
                                        <a href="#">Mika</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Marko</a>
                            </li>
                            <li>
                                <a href="#">Nikola</a>
                            </li>
                            <li>
                                <a href="#">Strahinja</a>
                            </li>
                            <li>
                                <a href="#">Milos</a>
                                <ul>
                                    <li>
                                        <a href="#">Mika</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Marko</a>
                            </li>
                            <li>
                                <a href="#">Nikola</a>
                            </li>
                            <li>
                                <a href="#">Strahinja</a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </div>*@
    <div class="mdl-tabs__panel is-active" id="add-report-panel">
        <form action="#">
            <ul id="add-report-panel-list-item" class="mdl-list">
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="master-list" list="messenger-users" required>
                        <label class="mdl-textfield__label" for="master-list">Izaberi padawana...</label>
                    </div>
                </li>
                <li class="mdl-list__item">
                    <div id="mp-report-opis-wrapper" class="mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" rows="10" id="mp-report-opis" required></textarea>
                        <label class="mdl-textfield__label" for="mp-report-opis">Izvestaj...</label>
                    </div>
                </li>
                <li class="mdl-list__item">
                    <button id="postavi-report-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                        Postavi
                    </button>
                </li>
            </ul>
        </form>
    </div>
    @if (MemberSession.GetRole() == Data.Enumerations.Role.Administrator || MemberSession.GetRole() == Data.Enumerations.Role.HR)
    {
    <div class="mdl-tabs__panel" id="report-panel">
        <table id="mp-table-report"class="mdl-data-table mdl-js-data-table">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">
                    <h3>Master</h3>
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    <h3>Padavan</h3>
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    <h3>Izvestaj</h3>
                </th>
                <th class="mdl-data-table__cell--non-numeric">
                    <h3>Datum</h3>
                </th>
            </tr>
            </thead>
            <tbody>
                @foreach (Data.DTOs.MemberMasterDTO r in Model.reports)
                {
                    foreach (Data.DTOs.ReportDTO rep in r.Reports)
                    {
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">@Html.DisplayName(r.Master.Name + " " + r.Master.Surname)</td>
                            <td class="mdl-data-table__cell--non-numeric">@Html.DisplayName(r.Padawan.Name + " " + r.Padawan.Surname)</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <a class="mdl-button mdl-button--colored mdl-js-button" href="@Url.Action("DisplayPDF", "Mp", new { id = rep.ReportId, form = r.Master.Name + " " + r.Master.Surname, to = r.Padawan.Name + " " + r.Padawan.Surname})">
                                    LINK
                                </a>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">@rep.Time.ToShortDateString()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>    
    <div class="mdl-tabs__panel" id="add-padavan-panel">
        <form action="#">
            <ul id="add-padavan-panel-list-item" class="mdl-list">
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="mp-master" list="masters-users" required>
                        <label class="mdl-textfield__label" for="mp-master">Master</label>
                    </div>
                </li>
                <li class="mdl-list__item">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="mp-padavan" list="baby-users" required>
                        <label class="mdl-textfield__label" for="mp-padavan">Padavan...</label>
                    </div>
                </li>
                <li class="mdl-list__item">
                    <button id="mp-postavi-button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                        Postavi
                    </button>
                </li>
            </ul>
        </form>
    </div>
    }
</div>


<datalist id="messenger-users">
    @foreach (var m in Model.master.Padawans)
    {
        <option data-id="@Html.DisplayName(m.MemberId.ToString())" value="@Html.DisplayName(m.Name + " " + m.Surname)"></option>
    }
</datalist>

<datalist id="masters-users">
    @foreach (var m in Model.fullMembers)
    {
        <option data-id="@Html.DisplayName(m.MemberId.ToString())" value="@Html.DisplayName(m.Name + " " + m.Surname)"></option>
    }
</datalist>

<datalist id="baby-users">
    @foreach (var m in Model.whitoutMaster)
    {
        <option data-id="@Html.DisplayName(m.MemberId.ToString())" value="@Html.DisplayName(m.Name + " " + m.Surname)"></option>
    }
</datalist>
<script>
    var submitButton = document.getElementById("postavi-report-button");
    var mpPostaviButton = document.getElementById("mp-postavi-button");
    var padavanId = "";
    var mpPostaviMasterId = "";
    var mpPostaviPadavanId = "";

    $(function() { // napuni padavanId
        $('#master-list').on('input', function() { // choose new Receiver
            var opt = $('option[value="' + $(this).val() + '"]');
            if (opt.length && parseInt(opt.attr("data-id"))) {
                padavanId = opt.attr("data-id");
            }
        });
        $('#mp-master').on('input', function () { // choose new Receiver
            var opt = $('option[value="' + $(this).val() + '"]');
            if (opt.length && parseInt(opt.attr("data-id"))) {
                mpPostaviMasterId = opt.attr("data-id");
            }
        });
        $('#mp-padavan').on('input', function () { // choose new Receiver
            var opt = $('option[value="' + $(this).val() + '"]');
            if (opt.length && parseInt(opt.attr("data-id"))) {
                mpPostaviPadavanId = opt.attr("data-id");
            }
        });
    });

    submitButton.addEventListener("click", function() {
        var url = '@Url.Action("SavePdfFile", "Mp")';
        var message = document.getElementById('mp-report-opis').value;
        url += '?padavanId=' + padavanId;
        url += '&text=' + message;

        $.post(url, function (data) { 
            location.reload();
        });
    });
    mpPostaviButton.addEventListener("click", function() {
        var url = '@Url.Action("AddMasterPadavan", "Mp")';
        url += '?masterId=' + mpPostaviMasterId;
        url += '&padavanId=' + mpPostaviPadavanId;
        if (mpPostaviPadavanId !== mpPostaviMasterId) {
        $.post(url, function(data) {
            location.reload();
        });
        }
    });
    
</script>