@model MVC.Models.MemberListModel

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "Members";
}
<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
    <main class="mdl-layout__content">
        <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
            <main class="mdl-layout__content">
                <div class="member-list-search-add mdl-grid">
                    <div class="mdl-cell mdl-cell--5-col">
                        <div class="form-group">
                            <i class="members-search-icon material-icons">search</i>
                            <div class="members-search-bar-div col-md-10">
                                <input class="form-control" type="text" id="searchMembersText">
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col"></div>
                    <div class="mdl-cell mdl-cell--1-col">
                        @if (MemberSession.GetRole() == Data.Enumerations.Role.Administrator || MemberSession.GetRole() == Data.Enumerations.Role.HR)
                        {
                            <a href="@Url.Action("Add", "Member")" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                                <i class="material-icons">add</i>
                            </a>
                        }
                    </div>
                </div>

                <div id="members" class="member-list mdl-grid">
                    @foreach (var m in Model.MemberThumbnails)
                    {
                        <div class="mdl-card mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp" data-member-id="@m.MemberId">
                            <figure class="mdl-card__media">
                                @{
                                    var imgSrc = $"http://i.imgur.com/Xqdt97P.png";
                                    if (m.Avatar != null)
                                    {
                                        var base64 = Convert.ToBase64String(m.Avatar);
                                        imgSrc = $"data:image/gif;base64,{base64}";
                                    }
                                }
                                <a href="@Url.Action("Profile", "Member", new { id = m.MemberId })"><img class="member-list-avatar" src="@imgSrc" alt="" /></a>
                            </figure>
                            <div class="mdl-card__title">
                                <h1 class="member-list-title mdl-card__title-text">@Html.DisplayName(m.Name) @Html.DisplayName(m.Surname) 
                                @{if (m.Nickname != null) { <text>(</text>@m.Nickname<text>)</text>}}</h1>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <h6>@Html.DisplayName(m.Faculty)</h6>
                                <p>@Html.DisplayName(m.Role.ToString())</p>
                            </div>
                        </div>
                    }
                </div>

            </main>
            </div>
        </main>
    </div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript">

    function filterResults() {
        var term = $('#searchMembersText').val();
        $.post("@Url.Action("SearchMembers", "Member")", { "term": term }, function (data) {
            $('#members').children().each(function () {
                var id = parseInt($(this).attr('data-member-id'));
                if (data.indexOf(id) !== -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    }

    $(window).bind('load', function () {
        var data = [];
        var elements = $("#members").find('.member-list-title');
        for (var i = 0; i < elements.length; i++) {
            data.push(elements[i].innerHTML);
        }
        $("#searchMembersText").autocomplete({
            source: data,
            delay: 0,
            minLength: 1,

            select: function (e, ui) {
                $("#searchMembersText").val(ui.item.label);
                filterResults();
            },
        });
    });

    @*$(window).bind('load', function () {
        $('#members').children().each(function () {
            var $that = $(this);
            var id = $(this).attr('data-member-id');
            $.post("@Url.Action("GetAvatar", "Member")", { "id" : id }, function (data) {
                $that.find('.avatar').attr('src', data);
                $that.find('.loader').hide();
            });
        });
    });*@

    $('#searchMembersText').bind('keyup', filterResults);


</script>