@model MVC.ViewModels.Member.MemberListViewModel

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "Members";
}
<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
    <main class="mdl-layout__content">
        <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
            <main class="mdl-layout__content">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--1-col"></div>
                    <div class="mdl-cell mdl-cell--10-col mdl-cell--4-col-tablet">
                        <form action="#">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                <label class="mdl-button mdl-js-button mdl-button--icon" for="searchMembersText">
                                    <i class="material-icons">search</i>
                                </label>
                                <div class="mdl-textfield__expandable-holder">
                                    <input class="mdl-textfield__input" type="text" id="searchMembersText">
                                    <label class="mdl-textfield__label" for="searchMembersText">Expandable Input</label>
                                </div>
                            </div>
                        </form>        
                    </div>
                    <div class="mdl-cell mdl-cell--1-col">
                        <a href="@Url.Action("Add", "Member")" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                </div>

                <div id="members" class="mdl-grid">
                    @foreach (var m in Model.MemberThumbnails)
                    {
                        <div class="mdl-card mdl-cell mdl-cell--2-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp" data-member-id="@m.Id">
                            <figure class="mdl-card__media">
                                @*<div class="loader" style="background-image: url('@Url.Content("~/Content/avatar-ajax-loader.gif")')"></div>*@
                                <img class="avatar" src="http://i.imgur.com/4UaFMTl.jpg"/>
                            </figure>
                            <div class="mdl-card__title">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="@Url.Action("Profile", "Member", new {id = m.Id})">
                                    @Html.DisplayName(m.Name)
                                </a>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <h6>@Html.DisplayName(m.Name) @Html.DisplayName(m.Surname) (@Html.DisplayName(m.Nickname))</h6>
                                <p>@Html.DisplayName(m.Faculty)</p>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <div class="mdl-layout-spacer"></div>
                            </div>
                        </div>
                    }
                </div>

            </main>
            </div>
        </main>
    </div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(window).bind('load', function() {
        var data = [];
        var elements = $("#members").find('h6');
        for (var i = 0; i < elements.length; i++) {
            data.push(elements[i].innerHTML);
        }
        $("#searchMembersText").autocomplete({
            source: data,
            delay: 0,
            minLength: 1
        });
    });

    @*$(window).bind('load', function () {
        $('#members').children().each(function () {
            var $that = $(this);
            var id = $(this).attr('data-member-id');
            $.post("@Url.Action("GetAvatar", "Member")", { "id" : id }, function (data) {
                $that.find('.avatar').attr('src', data);
                $that.find('.loader').hide();
            });
        });
    });*@

    $('#searchMembersText').bind('keyup', function filterResults() {
        var term = $('#searchMembersText').val();
        $.post("@Url.Action("SearchMembers", "Member")", { "term": term }, function (data) {
            $('#members').children().each(function () {
                var id = parseInt($(this).attr('data-member-id'));
                if (data.indexOf(id) !== -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>