@model MVC.Models.Members.MemberProfileModel

@{
    ViewBag.Title = "Index";
}

<h2>
    @Html.DisplayFor(model => model.Name)
    @Html.DisplayFor(model => model.Surname)
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <h4>Projekti</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var t in Model.Projects)
        {
            @*<dt>
                @Html.DisplayNameFor(s => t.Title)
            </dt>
            <dd>
                @Html.DisplayFor(s => t.Title)
            </dd>*@
            <dt>
                @Html.DisplayNameFor(s => t.Description)
            </dt>
            <dd>
                @Html.DisplayFor(s => t.Description)
            </dd>
        }
    </dl>
</div>
