@using Data.DTOs
@model MVC.Models.MemberProfileModel

@{
    ViewBag.Title = "Profile";
}
@{ LoginDTO member = MemberSession.GetMember();}

<div id="member-profile-div">
    <div id="member-profile-content" class="clearfix">
        <div id="userphoto"><img src="http://i.imgur.com/Xqdt97P.png" alt="default avatar"></div>
        <h1>
            @Html.DisplayFor(model => model.Name)
        @Html.DisplayFor(model => model.Surname)
        @{if (Model.Nickname != null) { <text>(</text>@Model.Nickname<text>)</text>}}
    </h1>
    <nav id="profiletabs">
        <ul class="clearfix">
            <li><a href="#info" class="sel">O meni</a></li>
            <li><a href="#projects">Projekti</a></li>
            <li><a href="#contact">Kontakt</a></li>
        </ul>
    </nav>

    <section id="info">
        <p class="setting"><span>Fakultet</span>@Model.Faculty</p>

        <p class="setting"><span>Datum rođenja</span>@Model.DateOfBirth.Value.ToString("dd.MM.yyyy")</p>

        <p class="setting"><span>Status</span>@Model.Status.ToString()</p>

        <p class="setting"><span>Član od</span>@Model.JoinDate.ToString("dd.MM.yyyy")</p>

        <p class="setting"><span>Uloga</span>@Model.Role.ToString()</p>

        <p class="setting"><span>Bedževi</span></p>
        <div id="member-badges" class="member-badge-list mdl-grid">
            @foreach (var b in Model.MemberBadges)
            {
                <div class="member-profile-badge-card mdl-card mdl-cell mdl-cell--2-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp">
                    <figure class="mdl-card__media">
                        <img class="member-profile-badge-img" src="http://demo.rocketseo.org/wp-content/uploads/2015/07/Gold-Badge.png" alt="" />
                    </figure>
                    <div class="mdl-card__title">
                        <h1 class="member-list-title mdl-card__title-text">
                            @Html.DisplayName(b.Name)
                        </h1>
                    </div>
                </div>
            }
        </div>
    </section>

    <section id="projects" class="hidden">
        @foreach (var p in Model.MemberTeamProjects)
        {
            <h2 class="project-name">@p.ProjectName</h2>
            <p class="setting project-info"><span>Tim</span>@p.TeamName</p>
            <p class="setting project-info"><span>Uloga</span>@p.TeamRole</p>
            <p class="setting project-info"><span>Sajt</span><a href="@p.ProjectWebsite">@p.ProjectWebsite</a></p>
        }

        @foreach (var p in Model.MemberHelpProjects)
        {
            <h2 class="project-name">@p.ProjectName</h2>
            <p class="setting project-info"><span>Funkcija</span>@p.Function</p>
            <p class="setting project-info"><span>Sajt</span><a href="@p.ProjectWebsite">@p.ProjectWebsite</a></p>
        }
    </section>

    <section id="contact" class="hidden">
        <p class="setting"><span>Telefon</span>@Model.Phone</p>

        <p class="setting"><span>Skype</span>@Model.Skype</p>

        <p class="setting"><span>Facebook</span><a href="@Model.Facebook">@Model.Facebook</a></p>

        <p class="setting"><span>LinkedIn</span>@Model.LinkedIn</p>
    </section>
</div><!-- end #content -->
</div>

<script type="text/javascript">
    $(function () {
        $('#profiletabs ul li a').on('click', function (e) {
            e.preventDefault();
            var newcontent = $(this).attr('href');

            $('#profiletabs ul li a').removeClass('sel');
            $(this).addClass('sel');

            $('#member-profile-content section').each(function () {
                if (!$(this).hasClass('hidden')) { $(this).addClass('hidden'); }
            });

            $(newcontent).removeClass('hidden');
        });
    });

    @*$(window).bind('load', function () {
        var id = @Model.Id;
        $.post("@Url.Action("GetAvatar", "Member")", { "id" : id }, function (data) {
            $('.avatar').attr('src', data);
            $('.loader').hide();
        });
    });*@

</script>