@using Data.DTOs
@model MVC.Models.MemberProfileModel

@{
    ViewBag.Title = "Profile";
}
@{ LoginDTO member = MemberSession.GetMember();}

<h2>Profile</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name) 
    @Html.DisplayFor(model => model.Surname)
    (@Html.DisplayFor(model => model.Nickname))</h4>
    <hr />

    <div class="avatar-div">
        @*<div class="loader" style="background-image: url('@Url.Content("~/Content/avatar-ajax-loader.gif")')"></div>*@
        <img class="avatar" src="http://i.imgur.com/Xqdt97P.png"/>
    </div>

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Faculty)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Faculty)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Facebook)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Facebook)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LinkedIn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LinkedIn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Skype)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Skype)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JoinDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JoinDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FeePayedUntil)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FeePayedUntil)
            </dd>

        </dl>
        @if (member.MemberID == Model.Id)
        {
            <a href="@Url.Action("Edit", "Member")">Izmeni profil</a>
        }

    </div>

<h4>Projekti</h4>
<hr />
<dl class="dl-horizontal">
    @foreach (var t in Model.Projects)
    {
        <dt>
            @Html.DisplayNameFor(s => t.Name)
        </dt>
            <dd>
                @Html.DisplayFor(s => t.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(s => t.Description)
            </dt>
            <dd>
                @Html.DisplayFor(s => t.Description)
            </dd>
    }
</dl>

<script type="text/javascript">

    @*$(window).bind('load', function () {
        var id = @Model.Id;
        $.post("@Url.Action("GetAvatar", "Member")", { "id" : id }, function (data) {
            $('.avatar').attr('src', data);
            $('.loader').hide();
        });
    });*@

</script>