@model MVC.Models.CompanyModel
@using Data.DTOs.Company

@{
    ViewBag.Title = "FRator";
}

<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#vesti-panel" class="mdl-tabs__tab">Vesti</a>
        <a href="#moje-kompanije-panel" class="mdl-tabs__tab is-active">Moje kompanije</a>
        <a href="#kompanije-panel" class="mdl-tabs__tab">Kompanije</a>
        <a href="#delegiranje-panel" class="mdl-tabs__tab">Delegiranje</a>
    </div>
    @if (Model.Show != null)
    {
        <div id="moje-kompanije-panel" class="mdl-tabs__panel is-active">
            <div class="div-expand mdl-grid frator-grid">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <form action="#">
                        <ul class="div-expand mdl-list">
                            <li class="mdl-list__item">
                                <h4>
                                    @Model.Show.Name
                                </h4>
                            </li>
                            <li class="li-shrink mdl-list__item">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="kompanija-adresa" value=@Model.Show.Address readonly>
                                    <label class="mdl-textfield__label" for="kompanija-adresa">Adresa</label>
                                </div>
                            </li>
                            <li class="li-shrink mdl-list__item">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="kompanija-sajt" value=@Model.Show.Website readonly>
                                    <label class="mdl-textfield__label" for="kompanija-sajt">Sajt...</label>
                                </div>
                            </li>
                            <li class="li-shrink mdl-list__item">
                                <div class="mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="kompanija-telefon" value=@Model.Show.Phone readonly>
                                    <label class="mdl-textfield__label" for="kompanija-telefon">Telefon...</label>
                                    <span class="mdl-textfield__error">To nije broj!</span>
                                </div>
                            </li>
                            <li class="li-shrink mdl-list__item">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="kompanija-email" value=@Model.Show.Email readonly>
                                    <label class="mdl-textfield__label" for="kompanija-email">Email...</label>
                                </div>
                            </li>
                            <li class="li-shrink mdl-list__item">
                                <div class="div-expand mdl-textfield mdl-js-textfield">
                                    <textarea class="mdl-textfield__input" type="text" rows="3" id="kompanija-opis" readonly>@Model.Show.Description</textarea>
                                    <label class="mdl-textfield__label" for="kompanija-opis">Opis...</label>
                                </div>
                            </li>
                            <li class="li-shrink mdl-list__item">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="kompanija-delatnost" value=@Model.Show.Field readonly>
                                    <label class="mdl-textfield__label" for="kompanija-delatnost">Delatnost...</label>
                                </div>
                            </li>
                            <li class="li-shrink mdl-list__item">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="kompanija-tip" value=@Model.Show.Field readonly>
                                    <label class="mdl-textfield__label" for="kompanija-tip">Tip...</label>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>

                <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <ul id="kontakt-kompanija" class="div-expand demo-list-three mdl-list">
                        @if (Model.Show.Contacts.Any())
                {
                            <li class="li-shrink mdl-list__item">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <select class="mdl-textfield__input" id="kompanija-kontakti">
                                        @foreach (ContactPersonDTO c in Model.Show.Contacts)
                                        {
                                            if (c.ContactPersonId == Model.Show.Contacts.OrderByDescending(x => x.StartDate).First().ContactPersonId)
                                            {
                                                <option value=@c.ContactPersonId selected>@c.Name.ToString()</option>
                                            }
                                            else
                                            {
                                                <option value=@c.ContactPersonId>@c.Name.ToString()</option>
                                            }
                                        }
                                    </select>
                                    <label class="mdl-textfield__label" for="kompanija-kontakti">Kontakti</label>
                                </div>
                            </li>
                            <li class="li-shrink mdl-list__item">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="kontakti-telefon" value=" " readonly>
                                    <label class="mdl-textfield__label" for="kontakti-telefon">Telefon</label>
                                    <span class="mdl-textfield__error">To nije broj!</span>
                                </div>
                            </li>
                            <li class="li-shrink mdl-list__item">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="kontakti-email" value=" " readonly>
                                    <label class="mdl-textfield__label" for="kontakti-email">Email</label>
                                </div>
                            </li>
                            <li class="li-shrink mdl-list__item">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="kontakti-napomena" value=" " readonly>
                                    <label class="mdl-textfield__label" for="kontakti-napomena">Napomena</label>
                                </div>
                            </li>

                        }
                        <li class="li-shrink mdl-list__item">
                            <form action="@Url.Action("AddContact", "Frator")">
                                <a id="show-dialog-dodaj-kontakt" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Dodaj Novu Kontakt Osobu</a>
                                <dialog id="dialog-dodaj-kontakt" class="mdl-dialog">
                                    <br />
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="AddContact-name" name="name" required>
                                        <label class="mdl-textfield__label" for="AddContact-name">Ime i prezime...</label>
                                    </div>
                                    <br />
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="AddContact-note" name="note" required>
                                        <label class="mdl-textfield__label" for="AddContact-note">Napomena...</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="AddContact-email" name="email" required>
                                        <label class="mdl-textfield__label" for="AddContact-email">Email...</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input" type="text" id="AddContact-phone" name="phone" required>
                                        <label class="mdl-textfield__label" for="AddContact-phone">Telefon...</label>
                                    </div>
                                    <input class="mdl-textfield__input" type="hidden" value=@Html.DisplayName(Model.Show.CompanyId.ToString()) name="companyId">
                                    <div class="mdl-dialog__actions">
                                        <button type="button" class="mdl-button close">Zatvori</button>
                                        <button type="submit" class="mdl-button close" id="close-dialog">Potvrdi</button>
                                    </div>
                                </dialog>
                            </form>
                        </li>
                    </ul>

                    <ul id="komentar-kompanija" class="div-expand demo-list-three mdl-list">
                        <li class="mdl-list__item">
                            <span class="h2 text-warning text-center">Komentar</span>
                        </li>
                        <li class="mdl-list__item">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <select class="mdl-textfield__input" id="komentar-tip">
                                    @foreach (Data.Enumerations.CommentType type in Enum.GetValues(typeof(Data.Enumerations.CommentType)))
                                    {
                                        <option value=@type>@type.ToString()</option>
                                    }
                                </select>
                                <label class="mdl-textfield__label" for="komentar-tip">Tip</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <select class="mdl-textfield__input" id="komentar--projekat-aktivan">
                                    @foreach (Data.DTOs.ProjectDTO p in MVC.Models.MemberIndexModel.CreateProjectDTOListForDate())
                                    {
                                        <option value=@p.ProjectId>@p.Name</option>
                                    }
                                </select>
                                <label class="mdl-textfield__label" for="komentar--projekat-aktivan">Aktivan projekat?</label>
                            </div>
                        </li>
                        <li class="li-shrink mdl-list__item">
                            <div class="div-expand mdl-textfield mdl-js-textfield">
                                <textarea class="mdl-textfield__input" type="text" rows="3" id="komentar-text"></textarea>
                                <label class="mdl-textfield__label" for="komentar-text">Pretisni enter da postavis komentar...</label>
                            </div>
                        </li>
                        <li class="div-expand mdl-list__item">
                            <div id="frator-komentari-wrapper">
                                <div class="arrow"></div>
                                <ul id="komentar-list" class="div-expand ChatLog">
                                    @foreach (CommentDTO c in Model.Show.Comments.OrderByDescending(x => x.Time))
                                    {
                                        <li class="ChatLog__entry ChatLog__entry_mine">
                                            <img class="ChatLog__avatar" src="http://i.imgur.com/4UaFMTl.jpg" />
                                            <p class="ChatLog__message">
                                                @c.Text
                                            </p>
                                            @if (!c.Likers.Select(x => x.MemberId).Contains(MemberSession.GetMemberId()))
                                            {
                                                <p>
                                                    <a class="mdl-list__item-secondary-action" href="@Url.Action("Like", "Frator", new { idm = MemberSession.GetMemberId(), idc = c.CommentId })"> <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true"> @c.CountLikes</i> </a>
                                                </p>
                                            }
                                            else
                                            {
                                                <p>
                                                    <a class="mdl-list__item-secondary-action" href="@Url.Action("Unlike", "Frator", new { idm = MemberSession.GetMemberId(), idc = c.CommentId })"> <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true"> @c.CountLikes</i> </a>
                                                </p>
                                            }
                                            &nbsp;&nbsp;&nbsp;
                                            <p><a class="mdl-list__item-secondary-action" href="#"><i class="fa fa-remove fa-2x" aria-hidden="true"></i></a></p>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-phone mdl-cell--12-col-phone">
                    <ul class="div-expand mdl-list">
                        @foreach (CompanyDTO c in Model.MyCompany)
                        {
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <a class="my-company-list mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                       href="@Url.Action("Profile", "Frator", new { id = c.CompanyId })">
                                        @c.Name
                                    </a>
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
    <div class="mdl-tabs__panel" id="vesti-panel">
        <ul class="div-expand demo-list-three mdl-list">
            @if (Model.NewComments.Any())
            {
                foreach (CommentDTO c in Model.NewComments)
                {
                    <li class="mdl-list__item mdl-list__item--three-line">
                        <span class="mdl-list__item-primary-content">
                            <img class="material-icons mdl-list__item-avatar" src="http://i.imgur.com/4UaFMTl.jpg" />
                            <span><a class="mdl-list__item-secondary-action" href="@Url.Action("Profile", "Frator", new { id = c.CompanyId })">@c.CompanyName</a></span>
                            <span class="mdl-list__item-text-body">
                                <a class="mdl-list__item-secondary-action" href="@Url.Action("Profile", "Member", new { id = c.AuthorId })">@c.AuthorFullName</a> @c.Text
                            </span>
                        </span>
                        @if (!c.Likers.Select(x => x.MemberId).Contains(MemberSession.GetMemberId()))
                        {
                            <span class="mdl-list__item-secondary-content">
                                <a class="mdl-list__item-secondary-action" href="@Url.Action("Like", "Frator", new { idm = MemberSession.GetMemberId(), idc = c.CommentId })"> <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true"> @c.CountLikes</i> </a>
                            </span>
                        }
                        else
                        {
                            <span class="mdl-list__item-secondary-content">
                                <a class="mdl-list__item-secondary-action" href="@Url.Action("Unlike", "Frator", new { idm = MemberSession.GetMemberId(), idc = c.CommentId })"> <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true"> @c.CountLikes</i> </a>
                            </span>
                        }
                    </li>
                }
            }
        </ul>
    </div>

    
    @if (MemberSession.GetRole() == Data.Enumerations.Role.Administrator || MemberSession.GetRole() == Data.Enumerations.Role.FR)
    {
        <div class="mdl-tabs__panel" id="kompanije-panel">
            <div class="mdl-grid frator-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="form-group">
                        <i class="company-search-icon material-icons">search</i>
                        <div class="company-search-bar-div col-md-10">
                            <input class="form-control" type="text" id="searchCompanyText">
                        </div>
                    </div>
                </div>

                <div class="mdl-cell mdl-cell--7-col">

                </div>
                <div class="mdl-cell mdl-cell--1-col">
                    <a href="@Url.Action("Add", "Frator")" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                        <i class="material-icons">add</i>
                    </a>
                </div>
            </div>
            <div class="mdl-grid frator-grid">
                <div class="mdl-cell mdl-cell--3-col">
                    <ul class="frator-kompanije-list" id="lista-kompanija">
                        @foreach (CompanyDTO c in Model.AllCompany)
                        {
                            <li class="company-list-item" data-company-id="@c.CompanyId">
                                <a class="company-list-name mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="@Url.Action("Profile", "Frator", new { id = c.CompanyId })">@c.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="mdl-tabs__panel" id="delegiranje-panel">
            <form action="#" id="frator-delegiranje-form">
                <ul class="div-expand mdl-list">

                    <li class="mdl-list__item">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="frator-delegiranje-aktivno">
                            <input type="checkbox" id="frator-delegiranje-aktivno" class="mdl-checkbox__input">
                            <span class="mdl-checkbox__label">Aktivna</span>
                        </label>
                    </li>

                    <li class="mdl-list__item">
                        <div class="div-expand event-edit-wrapper mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="frator-delegiranje-clan">
                            <label class="mdl-textfield__label" for="frator-delegiranje-clan">Clan...</label>
                        </div>
                    </li>

                    <li class="mdl-list__item">
                        <ul id="delegiranje-kompanija-add-wrapper" class="div-expand mdl-list">
                            <li class="mdl-list__item">
                                <div id="delegiranje-kompanija-add" class="icon material-icons">add</div>
                                <div class="mdl-tooltip mdl-tooltip--large" for="delegiranje-kompanija-add">
                                    Kompanija
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="mdl-list__item">
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            Sacuvaj Izmene
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    }
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript">

    function filterResults() {
        var term = $('#searchCompanyText').val();
        $.post("@Url.Action("SearchCompanies", "Frator")", { "term": term }, function (data) {
            $('#lista-kompanija').children().each(function () {
                var id = parseInt($(this).data('company-id'));
                if (data.indexOf(id) !== -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    }

    $(window).bind('load', function () {
        var data = [];
        var elements = $("#lista-kompanija").find('.company-list-name');
        for (var i = 0; i < elements.length; i++) {
            data.push(elements[i].innerHTML);
        }
        $("#searchCompanyText").autocomplete({
            source: data,
            delay: 0,
            minLength: 1,

            select: function (e, ui) {
                $("#searchCompanyText").val(ui.item.label);
                filterResults();
            },
        });
    });

    $('#searchCompanyText').bind('keyup', filterResults);


</script>

<script src="https://use.fontawesome.com/c256757c6a.js"></script>
<script>
    var komapnijaKontakti = document.getElementById("kompanija-kontakti");
    var komapnijaKontaktiPersonTelefon = document.getElementById("kontakti-telefon");
    var komapnijaKontaktiNote = document.getElementById("kontakti-napomena");
    var komapnijaKontaktiEmail = document.getElementById("kontakti-email");
    //var mojeKomapnijeList = document.getElementByClassName("my-company-list");

    var vestiPanel = document.getElementById("vesti-panel");
    var mojeKompanijeePanel = document.getElementById("moje-kompanije-panel");
    var kompanijePanel = document.getElementById("kompanije-panel");
    var delegiranjePanel = document.getElementById("delegiranje-panel");

    var komentarAktivanProjekat = document.getElementById("komentar--projekat-aktivan");
    var komentarTip = document.getElementById("komentar-tip");
    
    var dialogDodajKontakt = document.querySelector('#dialog-dodaj-kontakt');
    var showDialogButtonDodajKontakt = document.querySelector('#show-dialog-dodaj-kontakt');

    if (!dialogDodajKontakt.showModal) {
        showDialogButtonDodajKontakt.registerDialog(dialogAdminAddNews);
    }
    showDialogButtonDodajKontakt.addEventListener('click', function () {
        dialogDodajKontakt.showModal();
    });
    dialogDodajKontakt.querySelector('.close').addEventListener('click', function() {
        dialogDodajKontakt.close();
    });

    function getKompanijaKontaktiId() {
        return komapnijaKontakti.value;
    }
    function showDataKompanijaKontakti(contactPerosonId, name, note, phone, email) {
        komapnijaKontaktiPersonTelefon.value = phone;
        komapnijaKontaktiNote.value = note;
        komapnijaKontaktiEmail.value = email;
    }

    function updateAllFieldsKomapanijaKontakti() {
        var id = getKompanijaKontaktiId();
        var url = '@Url.Action("GetContact", "Frator")';
        url += "/" + id;

        $.post(url, function (data) {
            var serializedData = JSON.parse(data);
            var contactPersonId = serializedData.ContactPersonId;
            var name = serializedData.Name;
            var note = serializedData.Note;
            var phone = serializedData.Phone;
            var email = serializedData.Email;
            showDataKompanijaKontakti(contactPersonId, name, note, phone, email);

            console.log(serializedData);
        });
    }

    updateAllFieldsKomapanijaKontakti();
    komapnijaKontakti.addEventListener("change", function() {
        updateAllFieldsKomapanijaKontakti();
    });

    var ENTER_CODE = 13;

    $('#komentar-text').bind('keypress', function (event) {
        var x = event.keyCode;
        if (x === ENTER_CODE && this.value !== "") {

            var message = this.value;
            if (message.length > 2){
                var tip = komentarTip.value;
                var projekat = komentarAktivanProjekat.value;
                var url = '@Url.Action("SaveComment", "Frator")';


                url += '?text=' + message;
                url += '&tip=' + tip;
                url += '&projekat=' + projekat;
                url += '&companyId=' + @Html.DisplayName(Model.Show == null ? "" : Model.Show.CompanyId.ToString());

                $.post(url, function (data) { // snimi poruku u bazi, i postavi notifikaciju da bi mogao primalac sa druge strane da ocita
                    $('#frator-komentari-wrapper').prepend(
                        '<li class="ChatLog__entry ChatLog__entry_mine"> ' +
                        '<img class="ChatLog__avatar" src="http://i.imgur.com/4UaFMTl.jpg" />' +
                        '<p class="ChatLog__message">' + message + '</p>' +
                        '<p><a class="mdl-list__item-secondary-action" href="#"><i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true">0</i></a></p>' +
                        '&nbsp;&nbsp;&nbsp;' +
                        '<p><a class="mdl-list__item-secondary-action" href="#"><i class="fa fa-remove fa-2x" aria-hidden="true"></i></a></p>' +
                        '</li>');
                });
            }
            
            this.value = "";
        }
    });

    $('#delegiranje-kompanija-add').bind('click', function () {
        $('#delegiranje-kompanija-add-wrapper').append(
            "<li class='mdl-list__item'> " +
            "<div class='div-expand mdl-textfield mdl-js-textfield mdl-textfield--floating-label'>" +
            " <input placeholder='Kompanija' class='event-edit-ucesnik mdl-textfield__input' type='text'> " +
            "</div>" +
            " </li>"
        );
    });
</script>