@model Data2.DTOs.LoginTransporterDTO

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN | Vacation Manager</title>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/css/stacktable.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">


</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="fluid">
            <form class="login-container">

                <div class="login-logo-container">
                    <img src="~/images/Logo.png">
                </div>
                <div class="login-form-container table-container">
                    <div class="login-subcontainer">
                        <div class="input-container">
                            <span class="fa fa-user"></span>
                            @Html.EditorFor(m => m.Username, "Enter your User Name", new { @name = "username" })
                        </div>
                        <div class="input-container">
                            <span class="fa fa-key"></span>
                            @Html.EditorFor(m => m.Password, "Enter Password", new { @name = "password" })
                        </div>
                        <input type="checkbox" name="checkbox" id="checkbox">  Remember me?
                        
                        <a href="#">Forgot your Login?</a>
                        <input type="submit" value="Login" class="bottom-button"/>
                    </div>
                </div>
                @if (ViewBag.message != null)
                {
                    <div class="error bottom-button">
                        <p>@ViewBag.message</p>
                    </div>
                }
                
            </form>
        </div>
    }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Login as manager" class="btn btn-default" onclick="location.href = '@Url.Action("LoginAsManager", "Login")'" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Login as employee" class="btn btn-default" onclick="location.href = '@Url.Action("LoginAsEmployee", "Login")'" />
            </div>
        </div>


    <script type="text/javascript" src="~/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui.js"></script>
    <script type="text/javascript" src="~/js/stacktable.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>

    </body>
</html>


@*<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Manager: weil, employee: lgxh, username i password su isti</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RememberMe)
                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @if (ViewBag.message != null)
        {
            <p class = "text-danger">@ViewBag.message</p>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Login as manager" class="btn btn-default" onclick="location.href='@Url.Action("LoginAsManager", "Login")'" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Login as employee" class="btn btn-default" onclick="location.href='@Url.Action("LoginAsEmployee", "Login")'" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
