<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <aside class="mdl-layout__drawer">
        <span class="mdl-layout-title">LBG BEST Nis</span>
        <nav class="mdl-navigation">
            @Html.ActionLink("Home", "Index", "Member", null, new {@class = "mdl-navigation__link"})
            @Html.ActionLink("Members", "AllMembers", "Member", null, new {@class = "mdl-navigation__link"})
            @Html.ActionLink("Projects", "Index", "Project", null, new {@class = "mdl-navigation__link"})
            @Html.ActionLink("Events", "Index", "Event", null, new {@class = "mdl-navigation__link"})
            @Html.ActionLink("Poll", "Index", "Poll", null, new {@class = "mdl-navigation__link"})
            <a href="@Url.Action("Index", "Messenger")" class="mdl-navigation__link">
                <span id="badge-number-of-notifications" class="mdl-badge" data-badge="♥">Messenger</span>
            </a>
            @Html.ActionLink("M/P", "Index", "MP", null, new {@class = "mdl-navigation__link"})
            @Html.ActionLink("FRator", "Index", "Frator", null, new {@class = "mdl-navigation__link"})

            <a id="admin-button" class="mdl-navigation__link admin-button-color">Admin</a>
            @Html.ActionLink("Vesti", "Index", "Admin", null, new {@class = "mdl-navigation__link admin-button-color", @id="admin-news"})
            @Html.ActionLink("Sastanci", "Index", "Meeting", null, new { @class = "mdl-navigation__link admin-button-color", @id = "admin-meetings"})
            @Html.ActionLink("Bedzevi", "Index", "Badge", null, new { @class = "mdl-navigation__link admin-button-color", @id = "admin-badges"})

            <a id="show-dialog-feedback" class="mdl-navigation__link">Feedback</a>
            <dialog id="dialog-feedback" class="mdl-dialog">
                <h4 class="mdl-dialog__title">FeedBack</h4>
                <div class="mdl-dialog__content">
                    <form action="#">
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="feedback-pohvala">
                            Pohvala <input type="radio" id="feedback-pohvala" class="mdl-radio__button" name="options" value="1" checked>
                        </label>
                        <br/>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="feedback-bug">
                            Bug <input type="radio" id="feedback-bug" class="mdl-radio__button" name="options" value="1">
                        </label>
                        <br />
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="feedback-funkcionalnost">
                            <input type="radio" id="feedback-funkcionalnost" class="mdl-radio__button" name="options" value="1">
                            Funkcionalnost <span class="mdl-radio__label">First</span>
                        </label>
                        <br />
                        <div class="mdl-textfield mdl-js-textfield">
                            <textarea class="mdl-textfield__input" type="text" rows="10" id="textareaFeedback"></textarea>
                            <label class="mdl-textfield__label" for="textareaFeedback">FeedBack</label>
                        </div>
                    </form>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button close "> Send! </button>
                </div>
            </dialog>
            <a id="logout" href="/?logOut=true" class="mdl-navigation__link">Log Out</a>

        </nav>
    </aside>
    <main class="mdl-layout__content">
        <div class="page-content">
            @RenderBody()
        </div>
    </main>
</div>
@RenderSection("scripts", false)
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

<script>
    var badgeNotificator = document.getElementById("badge-number-of-notifications");

    window.setInterval(function () { // periodicno osvezavaj broj notifikacija
        var url = '@Url.Action("GetNumberOfNotifications", "Messenger")';
        
        $.post(url, function (data) {
            if (parseInt(data) === 0) {
                data = "♥";
            }
            badgeNotificator.setAttribute("data-badge", data);
        });
    }, 1666);

    $('#admin-news').toggle();
    $('#admin-meetings').toggle();
    $('#admin-badges').toggle();

    $('#admin-button').bind('click', function () {
        $('#admin-news').toggle();
        $('#admin-meetings').toggle();
        $('#admin-badges').toggle();
    });

    var dialog = document.querySelector('#dialog-feedback');
    var showDialogButton = document.querySelector('#show-dialog-feedback');
    if (! dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
    }
    showDialogButton.addEventListener('click', function() {
        dialog.showModal();
    });
    dialog.querySelector('.close').addEventListener('click', function() {
        dialog.close();
    });
</script>

</body>
</html>