<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <aside class="mdl-layout__drawer">
        <span class="mdl-layout-title">LBG BEST Nis</span>
        <nav class="mdl-navigation">
            @Html.ActionLink("Home", "Index", "Member", null, new {@class = "mdl-navigation__link"})
            @Html.ActionLink("Projekti", "Index", "Project", null, new {@class = "mdl-navigation__link"})
            @Html.ActionLink("Svi Clanovi", "AllMembers", "Member", null, new { @class = "mdl-navigation__link" })
            <a href="#" class="mdl-navigation__link">
                <span class="mdl-badge" data-badge="4">Inbox</span>
            </a>
            <a id="feedback" href="#" class="mdl-navigation__link">FeedBack</a>
            <a id="logout" href="/?logOut=true" class="mdl-navigation__link">Log Out</a>
        
        </nav>
    </aside>
    <main class="mdl-layout__content">
        <div class="page-content">
            @RenderBody()
        </div>
    </main>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>