@model dynamic

@{
    ViewBag.Title = "title";
}


<div id="event-profile-wrapper">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Motivacioni vikend</h2>
        </div>

        <div class="mdl-card__supporting-text">
            Godina: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>

        <div class="mdl-card__supporting-text">
            Labela: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>

        <div class="mdl-card__supporting-text">
            Datum Pocetka: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>

        <div class="mdl-card__supporting-text">
            Datum zavrsetka: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>

        <div class="mdl-card__supporting-text">
            Ucesnici:
            <a class="mdl-button mdl-button--colored mdl-js-button" href="@Url.Action("Profile", "Member", new {id = 1})">
                Nick1
            </a>
            <a class="mdl-button mdl-button--colored mdl-js-button" href="@Url.Action("Profile", "Member", new {id = 1})">
                Nick2
            </a>
            <a class="mdl-button mdl-button--colored mdl-js-button" href="@Url.Action("Profile", "Member", new {id = 1})">
                Nick3
            </a>
        </div>
        <div class="mdl-card__supporting-text">
            Organizator:
            <a class="mdl-button mdl-button--colored mdl-js-button" href="@Url.Action("Profile", "Member", new {id = 1})">
                Nick1
            </a>
            <a class="mdl-button mdl-button--colored mdl-js-button" href="@Url.Action("Profile", "Member", new {id = 1})">
                Nick1
            </a>
        </div>

        <div class="mdl-card__supporting-text">
            Opis: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>

        <div class="mdl-card__supporting-text">
            <a class="mdl-button mdl-button--colored mdl-js-button" href="@Url.Action("Edit", "Event", new {id = 1})">
                Edit
            </a>
                <button id="show-dialog-delete" type="button" class="mdl-button mdl-button--colored mdl-js-button">Delete</button>
                <dialog id="dialog-delete" class="mdl-dialog">
                    <h4 class="mdl-dialog__title">Da li zaista zelite da obrisete?</h4>
                    <div class="mdl-dialog__content">
                        <p>

                        </p>
                    </div>
                    <div class="mdl-dialog__actions">
                        <button type="button" class="mdl-button">Potvrdi</button>
                        <button type="button" class="mdl-button close">Odkazi</button>
                    </div>
                </dialog>
        </div>


        <div class="mdl-card__menu">
            <a href="https://www.facebook.com/">
                <button class="mdl-button mdl-button--icon mdl-js-button">
                    <i id="event-profile-share" class="material-icons">share</i>
                </button>
            </a>
        </div>
    </div>
</div>
<script>
    var dialogDelete = document.querySelector('#dialog-delete');
    var showDialogButtonDelete = document.querySelector('#show-dialog-delete');
    if (!dialogDelete.showModal) {
        dialogPolyfill.registerDialog(dialog);
    }
    showDialogButtonDelete.addEventListener('click', function() {
        dialogDelete.showModal();
    });
    dialogDelete.querySelector('.close').addEventListener('click', function() {
        dialogDelete.close();
    });
</script>