@model Data2.DTOs.HolidayDTO

@{
    ViewBag.Title = "Create";
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal form-group">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.HolidayID, new { @class = "holidayIDInput" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "nameInput" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate)
            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "datePicker  startDateInput", @id = "startDate" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.EndDate)
            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "datePicker  endDateInput", @id = "endDate" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Same)
            @Html.EditorFor(model => model.Same, new { htmlAttributes = new { @class = "sameInput" } })
            @Html.ValidationMessageFor(model => model.Same, "", new { @class = "text-danger" })
        </div>
    </div>



        <input class="bottom-button diagram-submit diagramCreate" type="submit" name="submit" value="Create" />

        <input type="submit" class="bottom-button diagram-submit diagramEdit" value="Edit" formaction='@Url.Action("Edit", "Holidays")' />

        <a href="" class="bottom-button cancel-button">Cancel</a>
}

