@model MVC.Models.SendRequestModel

@{
    ViewBag.Title = "SendRequest";
    Layout = null;
}

@{
    List<SelectListItem> types = new List<SelectListItem>();
    foreach (var a in Enum.GetValues(typeof(Data2.Enums.leaveTypes)))
    {
        types.Add(new SelectListItem { Text = a.ToString(), Value = ((int)a).ToString() });
    }
}

@{
    List<SelectListItem> paid = new List<SelectListItem>();
    foreach (var a in Enum.GetValues(typeof(Data2.Enums.paid)))
    {
        paid.Add(new SelectListItem { Text = a.ToString(), Value = ((int)a).ToString() });
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal form-group">

        @Html.HiddenFor(model => model.leaveID, new { @class = "leaveIDInput" })

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Type)
            @Html.DropDownListFor(m => m.Type, types, new { @class = "typeInput", @id = "type" })
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.StartDate)
            @Html.EditorFor(model => model.StartDate, null, new { htmlAttributes = new { @class = "startDateInput datePicker", @id = "startDate" } })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate)
            @Html.EditorFor(model => model.EndDate, null, new { htmlAttributes = new { @class = "endDateInput datePicker", @id = "endDate" } })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paid)
            @Html.DropDownListFor(m => m.Paid, paid, new { @class = "paidInput", @id = "paid" })
            @Html.ValidationMessageFor(model => model.Paid)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment)
            @Html.EditorFor(model => model.Comment, null, new { htmlAttributes = new { @class = "commentInput" } })
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </div>

    </div>

    <p class="red checkError" style="display: none"></p>
    <p class="checkPassed ldnText" style="display: none">This leave takes days</p>
    <p class="green checkPassed durationText" style="display: none">This leave takes days</p>
    <p class="checkPassed afterRequestText" style="display: none">This leave takes days</p>

    <input class="bottom-button diagram-submit checkPassed diagramCreate" type="submit" name="submit" value="Send" />
    <input class="bottom-button diagram-submit diagramCheck" type="button" value="Check" id="checkBtn" />
    <input class="bottom-button diagram-submit checkPassed diagramEdit" type="submit" value="Edit" formaction='@Url.Action("Edit", "Leaves")' />

    <a href="" class="bottom-button cancel-button">Cancel</a>

    <input type="hidden" value='@Url.Action("checkRequest")' id="sendRequestPopupId"/>
    int ldn = Data2.LeaveDaysCalculation.LeaveDaysNumber(GetUser.EmployeeID(), DateTime.Now).Total;
    <input type ="hidden" value ="@ldn" id="leaveDaysNum"/>


}


