@using RazorPDF.Legacy.Text.Pdf
@model MVC.Models.TeamHistoryModel

@{
    ViewBag.Title = "History";
}

@{
    Boolean manager = CheckPermission.CheckUserPermisson((int)Data2.Enums.Permissions.Team_Add_Edit_Remove_View);

}
<div class="main-content">
    <div class="table-container">
        @if (Model.List.Count > 0)
        {

            <h3>@Model.TeamName</h3>
        if (!Model.Deleted)
        {
            <input type="button" value="Add employee" class="green-btn" onclick="location.href = '@Url.Action("AddEmployeeToTeam", "Teams", new {teamID = Model.TeamID})'" />
        }

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.List[0].Status)
                    </th>
                    @Html.HiddenFor(model => model.List[0].EmployeeID)
                    <th>
                        @Html.DisplayNameFor(model => model.List[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.List[0].StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.List[0].EndDate)
                    </th>

                </tr>

                @foreach (var item in Model.List)
                {
                    <tr>
                        <td>
                            @if (item.Status)
                            {
                                @("Player")
                            }
                            else
                            {
                                @("Is no longer in this team")
                            }
                        </td>
                        @Html.HiddenFor(modelItem => item.EmployeeID)
                        <td>
                            <p>@Html.ActionLink(item.Name, "Details", "Employees", new { id = item.EmployeeID }, null)</p>
                            @{
                                String roleName = ((Data2.Enums.Roles)item.Role).ToString();
                                String roleClass = roleName.ToLower();
                            }
                            <span class=@roleClass>@roleName</span> <span class="table-work-status">at</span> <span class="company-name company-smaller-font">INGSoftware</span>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @if (item.EndDate != null)
                            {
                                @Html.DisplayFor(modelItem => item.EndDate)
                            }
                            else if (manager)
                            {
                                @Html.ActionLink("Remove", "RemoveEmployee", new { teamID = Model.TeamID, empID = item.EmployeeID })
                            }

                        </td>
                    </tr>
                }

            </table>


        }
        else
        {
             <h4>There are no employees in this team</h4>
        }
    </div>
</div>