@using Data.DTOs
@model MVC.ViewModels.Poll.PollListViewModel

@{
    ViewBag.Title = "AllPolls";
}
@{ LoginDTO member = MemberSession.GetMember();}

<h2>AllPolls</h2>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--11-col"></div>
    <div class="mdl-cell mdl-cell--1-col">
        <a href="@Url.Action("Add", "Poll")" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>

@foreach (var p in Model.ActivePolls)
{
    <div class="poll-container" data-poll-id="@p.PollDetails.Id" @{if (p.PollDetails.AllowMultiple) { <text> data-poll-allow-multiple </text> }} >
        <div class="poll-details mdl-list__item mdl-list__item--two-line" >
            <span class="poll-details-title mdl-list__item-primary-content">
                <b><span class="text-info"> @p.PollDetails.Topic <span class="text-danger"> @p.PollDetails.EndDate </span></span></b>
                <span class="poll-details-description mdl-list__item-sub-title"> @p.PollDetails.Description </span>
            </span>

            <a class="btn btn-success" href="@Url.Action("Edit", "Poll", new {id = 1})">
                <i class="fa fa-edit" title="Edit" aria-hidden="true"></i>
                <span class="sr-only">Edit</span>
            </a>
            <a class="btn btn-success" href="#" disabled>
                <i class="fa fa-star-o" title="Settings" aria-hidden="true"></i>
                <span class="sr-only">Activity</span>
            </a>
        </div>
        <div class="poll-options-list mdl-list">
            @foreach (var po in p.PollOptions)
            {
                <div class="poll-option mdl-list__item" data-poll-option-id="@po.Id">
                    <label class="poll-option-label mdl-checkbox mdl-js-checkbox" for="option-@po.Id">
                        <input type="checkbox" id="option-@po.Id" class="poll-option-checkbox mdl-checkbox__input"
                                @{if (p.AlreadyVoted) { <text> disabled </text> }; if (po.Voters.Exists(x => x.MemberId == member.MemberID)) { <text> checked </text> }}  />
                        <span class="mdl-checkbox__label">@po.Answer (@po.Voters.Count)</span>
                    </label>
                </div>
            }

            @{
                if (!p.AlreadyVoted)
                {
                    <div class="poll-option mdl-list__item">
                        <button class="vote-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            Glasaj
                        </button>
                    </div>
                }
            }
        </div>
    </div>
}

    <ul id="poll-index-list" class="mdl-list">
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <b><span class="text-info">Datum skupstine</span></b>
                <span class="mdl-list__item-sub-title"><b>Izglasan 25.februar</b></span>
                <span class="mdl-list__item-sub-title">62 Glasova</span>
            </span>
            <a class="btn btn-success" href="@Url.Action("Edit", "Poll", new {id = 1})">
                <i class="fa fa-edit" title="Edit" aria-hidden="true"></i>
                <span class="sr-only">Edit</span>
            </a>
            <a class="btn btn-danger" href="#" disabled>
                <i class="fa fa-star-o" title="Activity" aria-hidden="true"></i>
                <span class="sr-only">Activity</span>
            </a>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <b><span class="text-info">Datum skupstine</span></b>
                <span class="mdl-list__item-sub-title"><b>Izglasan 25.februar</b></span>
                <span class="mdl-list__item-sub-title">62 Glasova</span>
            </span>
            <a class="btn btn-success" href="@Url.Action("Edit", "Poll", new {id = 1})">
                <i class="fa fa-edit" title="Activity" aria-hidden="true"></i>
                <span class="sr-only">Edit</span>
            </a>
            <a class="btn btn-danger" href="#" disabled>
                <i class="fa fa-star-o" title="Settings" aria-hidden="true"></i>
                <span class="sr-only">Activity</span>
            </a>
        </li>
    </ul>
    <script src="https://use.fontawesome.com/c256757c6a.js"></script>
    <script>
        $(window).bind('load', function() {
            $('.poll-details').css( 'cursor', 'pointer' );
            $('.poll-details').bind('click', function() {
                $(this).siblings('.poll-options-list').slideToggle();
            });
        });

        $('button.vote-button').on('click', function() {
            var pollContainer = $(this).closest('.poll-container');
            var pollOptionIds = [];
            var $this = $(this);
            pollOptions = $(this).parent().siblings('.poll-option');
            pollOptions.each(function() {
                if ($(this).find('.poll-option-checkbox:checked').length != 0) {
                    pollOptionIds.push($(this).data('poll-option-id'));
                }
            });
            $.post("@Url.Action("AddVote", "Poll")", { "memberId" : @member.MemberID, "pollOptionIds": pollOptionIds }, function (data) {
                var parent = $this.parent();
                $this.hide();
                parent.html("<b>Hvala na glasanju!</b>");

                pollOptions.find('.poll-option-label').each(function (){
                    $(this)[0].MaterialCheckbox.disable();
                });
            });
        });

        $('input.poll-option-checkbox').on('change', function (evt) {
            var pollContainer = $(this).closest('.poll-container');
            var allowMultiple = pollContainer.is("[data-poll-allow-multiple]");
            if ($(this).is(':checked')) {
                if ($(this).closest('.poll-option').siblings().find('.poll-option-checkbox:checked').length >= 1 && !allowMultiple) {
                    this.checked = false;  // ako pokusa da glasa vise opcija nego sto sme
                }
            }
        });
    </script>