@using Data.DTOs
@model MVC.ViewModels.Poll.PollListViewModel

@{
    ViewBag.Title = "AllPolls";
}
@{ LoginDTO member = MemberSession.GetMember();}

<h2>AllPolls</h2>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--11-col"></div>
    <div class="mdl-cell mdl-cell--1-col">
        <a href="@Url.Action("AddPoll", "Poll")" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>

@foreach (var p in Model.ActivePolls)
{
    <div class="poll-container" data-poll-id="@p.PollDetails.Id" data-poll-max-answers="@p.PollDetails.MaxAnswers">
        <div class="poll-aktivnoGlasanje mdl-list__item mdl-list__item--two-line" data-model="poll-aktinaGlasanjaIzbor-list-@p.PollDetails.Id" >
            <span class="poll-aktivnoGlasanje-content mdl-list__item-primary-content">
                <b><span class="text-info"> @p.PollDetails.Topic <span class="text-danger"> @p.PollDetails.EndDate </span></span></b>
                <span class="mdl-list__item-sub-title"> @p.PollDetails </span>
            </span>

            <a class="btn btn-success" href="@Url.Action("Edit", "Poll", new {id = 1})">
                <i class="fa fa-edit" title="Edit" aria-hidden="true"></i>
                <span class="sr-only">Edit</span>
            </a>
            <a class="btn btn-success" href="#" disabled>
                <i class="fa fa-star-o" title="Settings" aria-hidden="true"></i>
                <span class="sr-only">Activity</span>
            </a>
        </div>
        <ul class="poll-aktinaGlasanjaIzbor-list mdl-list">
            @foreach (var po in p.PollOptions)
            {
                <li class="mdl-list__item" data-poll-option-id="@po.Id">
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                            <input type="checkbox" class="mdl-checkbox__input" @if (po.Voters.Exists(x => x.MemberId == member.MemberID)) { <text> checked </text> } />
                        </label>
                    </span>@po.Answer (@po.Voters.Count)
                </li>
            }
            @* <li class="mdl-list__item">
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Glasaj
                </button> */
            </li> *@
        </ul>
    </div>
}




    <ul id="poll-index-list" class="mdl-list">
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <b><span class="text-info">Datum skupstine</span></b>
                <span class="mdl-list__item-sub-title"><b>Izglasan 25.februar</b></span>
                <span class="mdl-list__item-sub-title">62 Glasova</span>
            </span>
            <a class="btn btn-success" href="@Url.Action("Edit", "Poll", new {id = 1})">
                <i class="fa fa-edit" title="Edit" aria-hidden="true"></i>
                <span class="sr-only">Edit</span>
            </a>
            <a class="btn btn-danger" href="#" disabled>
                <i class="fa fa-star-o" title="Activity" aria-hidden="true"></i>
                <span class="sr-only">Activity</span>
            </a>
        </li>
        <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
                <b><span class="text-info">Datum skupstine</span></b>
                <span class="mdl-list__item-sub-title"><b>Izglasan 25.februar</b></span>
                <span class="mdl-list__item-sub-title">62 Glasova</span>
            </span>
            <a class="btn btn-success" href="@Url.Action("Edit", "Poll", new {id = 1})">
                <i class="fa fa-edit" title="Activity" aria-hidden="true"></i>
                <span class="sr-only">Edit</span>
            </a>
            <a class="btn btn-danger" href="#" disabled>
                <i class="fa fa-star-o" title="Settings" aria-hidden="true"></i>
                <span class="sr-only">Activity</span>
            </a>
        </li>
    </ul>
    <script src="https://use.fontawesome.com/c256757c6a.js"></script>
    <script>
        //$('.poll-aktinaGlasanjaIzbor-list').toggle();
        $('.poll-aktivnoGlasanje').bind('click', function() {
            $('#' + this.dataset.model).toggle();
        });

        $('input.mdl-checkbox__input').on('change', function (evt) {
            var maxAnswers = $(this).closest('.poll-container').data('poll-max-answers');
            if ($(this).closest('.poll-aktinaGlasanjaIzbor-list').find('.mdl-checkbox__input:checked').length > maxAnswers) {
                this.checked = false;
            }
        });
    </script>