@model Data2.DTOs.AddFileDTO

@{
    ViewBag.Title = "AddPDF";
    Layout = null;
}




@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @Html.HiddenFor(model=>model.statusID, new {@class = "statusIDInput"})
        @Html.HiddenFor(model=>model.employeeID, new {@class = "employeeIDInput"})
        <div class="form-group">
            @Html.LabelFor(model => model.FileName)
                @Html.EditorFor(model => model.FileName)
                @Html.ValidationMessageFor(model => model.FileName, "", new {@class = "text-danger"})
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.File)
                <input name="fileUploader" type="file" />
        </div>

        <input class="bottom-button diagram-submit " type="submit" value="Add" />
        <a href="" class="bottom-button cancel-button">Cancel</a>
    </div>
}



