@model MVC.Models.EmployeeStatusModel
@using Data2.DTOs
@using Data2

@{
    ViewBag.Title = "History";
}


@{
    Boolean manager = CheckPermission.CheckUserPermisson((int)Enums.Permissions.EditEmp);
}


@using (Html.BeginForm())
{

   
    @Html.HiddenFor(m => m.EmployeeID)

    if (manager)
    {
          
            <input type="button" value="Change status" id="changeStatus-btn" class="green-btn" style="margin-right: 70px" />
            @*<input type="button" value="Change status" class="btn btn-default" onclick="location.href='@Url.Action("ChangeHistory", "Employees", new { empID = Model.EmployeeID })'"/>*@
           
    }

    <div class="main-content">
        <div class="table-container">
            <h3>History of @Html.ActionLink(Model.EmpName, "Details", new {id = Model.EmployeeID}) </h3>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.List[0].Status)
                    </th>
                    @Html.HiddenFor(m=>m.EmployeeID, new {@class = "employeeID"})
                    <th>
                        @Html.DisplayNameFor(model => model.List[0].StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.List[0].EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.List[0].ContractDuration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.List[0].comment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.List[0].SubmitterName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.List[0].FileName)
                    </th>

                </tr>

                @foreach (EmployeeStatusDTO es in Model.List)
                {
                    <tr>

                        <th>
                            @(((Data2.Enums.employeeStatus) es.Status).ToString())
                        </th>
                        @Html.HiddenFor(model => es.StatusID, new {@class="statusID"})
                        @Html.HiddenFor(model => es.InsertDate)
                       
                        <th>
                            @Html.DisplayFor(model => es.StartDate)
                        </th>
                        <th>
                            @Html.DisplayFor(model => es.EndDate)
                        </th>
                        <th>
                            @Html.DisplayFor(model => es.ContractDuration)
                        </th>
                        <th>
                            @Html.DisplayFor(model => es.comment)
                        </th>
                        <th>
                            @Html.ActionLink(es.SubmitterName, "Details", "Employees", new {id = es.SubmitterID}, null)
                        </th>
                        @if (es.FileName != null)
                        {
                            <th>
                                @Html.ActionLink(es.FileName, "ShowPDF", "Employees", new {status = es.StatusID}, null)
                            </th>
                        }
                        else
                        {
                            <th>
                                <input type="button" value="Upload File"  class="green-btn addPdf-btn" style="margin: 0px;"/>
                                @*<input type="button" value="Upload File" class="btn btn-default" onclick="location.href='@Url.Action("AddPDF","Employees",new { statusID = es.StatusID, empID = Model.EmployeeID})'"/>*@
                            </th>
                        }
                    </tr>
                }

            </table>
        </div>
    </div>



        }

<div class="dialog dialogContainer" title="CHANGE STATUS">
    @using (Html.BeginForm("ChangeHistory", "Employees", FormMethod.Post, new {@id = "form1", @enctype = "multipart/form-data"}))
    {

        Html.RenderPartial("ChangeHistory", new Data2.DTOs.EmployeeStatusDTO());
    }

</div>

<div class="dialogContainer" id="dialogEdit" title="UPLOAD PDF">
    @using (Html.BeginForm("AddPDF", "Employees", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
        {

            Html.RenderPartial("AddPDF", new Data2.DTOs.AddFileDTO());
        }

</div>



