@model MVC.Models.ProjectListModel

@{
    ViewBag.Title = "Projects";
}
<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
    <main class="mdl-layout__content">
        <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
            <main class="mdl-layout__content">
                <div class="project-list-search-add mdl-grid">
                    <div class="mdl-cell mdl-cell--5-col">
                        <div class="form-group">
                            <i class="projects-search-icon material-icons">search</i>
                            <div class="projects-search-bar-div col-md-10">
                                <input class="form-control" type="text" id="searchProjectsText">
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--6-col"></div>
                    <div class="mdl-cell mdl-cell--1-col">
                        <a href="@Url.Action("Add", "Project")" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                </div>

                <div id="project-list" class="mdl-grid">
                    @foreach (var p in Model.ProjectThumbnails)
                    {
                        <div class="mdl-card mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone mdl-shadow--2dp" data-project-id="@p.ProjectId">
                            <figure class="mdl-card__media">
                                @{
                                    var imgSrc = $"http://i.imgur.com/icEqZXV.png";
                                    if (p.Logo != null)
                                    {
                                        var base64 = Convert.ToBase64String(p.Logo);
                                        imgSrc = $"data:image/gif;base64,{base64}";
                                    }
                                }
                                <a href="@Url.Action("Details", "Project", new { id = p.ProjectId })"><img class="project-list-avatar" src="@imgSrc" alt="" /></a>
                            </figure>
                            <div class="mdl-card__title">
                                <h1 class="project-list-name mdl-card__title-text">@Html.DisplayName(p.Name)</h1>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p><a href="@p.Website">@p.Website</a></p>
                                <p>@Html.DisplayName(p.State.ToString())</p>
                            </div>
                        </div>
                    }
                </div>
            </main>
        </div>
    </main>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script type="text/javascript">

    function filterResults() {
        var term = $('#searchProjectsText').val();
        $.post("@Url.Action("SearchProjects", "Project")", { "term": term }, function (data) {
            $('#project-list').children().each(function () {
                var id = parseInt($(this).attr('data-project-id'));
                if (data.indexOf(id) !== -1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    }

    $(window).bind('load', function () {
        var data = [];
        var elements = $("#project-list").find('.project-list-name');
        for (var i = 0; i < elements.length; i++) {
            data.push(elements[i].innerHTML);
        }
        $("#searchProjectsText").autocomplete({
            source: data,
            delay: 0,
            minLength: 1,

            select: function (e, ui) {
                $("#searchProjectsText").val(ui.item.label);
                filterResults();
            },
        });
    });

    $('#searchProjectsText').bind('keyup', filterResults);


</script>